#hammer{
    transform-origin: 200px 50px; 
    height: 100px; 
    position: absolute;
    left: 700px;
    top: 270px ;
    rotate: 0deg; 

    animation-name: shm;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#score_meter{
    height: 400px; 
    position: absolute;
    left: 600px;
    top: 0px;
}

#images{                /*Div that contains the score meter and the hammer*/
    position: relative;
    text-align: center;
}

#meter{
    position: absolute;
    left: 500px;
    top: 400px;
}

#meter_needle{
    transform-origin: 22px 121px;
    height: 150px;
    position: absolute;
    left: 718px;
    top: 510px;
}

#welcome_text{
    position: absolute;
    left: 90px;
    top: 50px;
    font-family: sans-serif;
    font-size: 40px;
    background-color: rgb(233, 210, 178);
    border-color: rgb(157, 98, 98);
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    border-radius: 40px;
}

#score_text{
    position: absolute;
    left: 1010px;
    top: 140px;
    font-family: sans-serif;
    font-size: 50px;
    background-color: rgb(233, 210, 178);
    border-color: rgb(157, 98, 98);
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    border-radius: 40px;
    visibility: hidden;
}

#retry_button{
    position: absolute;
    left: 990px;
    top: 570px;
    visibility: hidden;
    text-align: center;
    background-color: red;
    border-radius: 10px;
    height: 70px;
    width: 150px;
    color: white;
    border-color: white;
    box-shadow: none;
    border: none;
}

#retry_image{
    height: 100%;
}

#stop_button{
    position: absolute;
    left: 990px;
    top: 570px;
    background-color: black;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    height: 70px;
    width: 150px;
    border-radius: 10px;
}

@keyframes shm{     /*Idle Swinging Animation of the hammer*/
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes hit{     /*Drawback animation of the hammer*/
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(135deg);
    }
}

@keyframes hit2{    /*Actual hit animation of the hammer*/
    0%{
        transform: rotate(135deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 600px) { /*Dynamic resolution for phone*/
    #welcome_text{
        font-size: 30px;
        left: 200px;
        top: 20px;
        width: 300px;
    }

    #score_text{
        font-size: 38px;
        left: 950px;
        width: 200px;
    }
}